@page
@model ErrorModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">При обработке запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    При среде выполнения <strong>Development</strong> на странице может отображаться подробная информация об исключении.
</p>
<p>
    <strong>Не включайте среду Development на опубликованных серверах.</strong>
    Иначе конечные пользователи могут увидеть конфиденциальные сведения из сообщений об ошибках.
</p>
<p>
    Для отладки на своём компьютере задайте переменную окружения <strong>ASPNETCORE_ENVIRONMENT</strong> значением <strong>Development</strong>
    и перезапустите приложение.
</p>
